/* Estilos básicos para reset de margem, padding e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos para o cabeçalho */
header {
    background-color: black;
    color: white;
    height: 68px;
    width: 100%;
}

/* Layout do cabeçalho com logo e botões */
.header {
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;  
}

/* Estilos da seção do logo */
.logo {
    display: flex;
    align-items: center;
    color: white;
}

/* Estilos do logo e texto */
.logo img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

/* Tamanho e espaçamento da seção de links */
.logo p {
    font-size: 16px;
    font-weight: bold;
    word-spacing: 2px;
    margin: 0;
}

.logo a {
    color: white;
    text-decoration: none;
}

/* Hover para o link "Abstract" */
.logo .abstract-link:hover {
    color: #cccccc;
}

/* Hover para o link "Help Center" */
.logo .help-center-link:hover {
    text-decoration: underline;
}

/* Estilos para os botões no cabeçalho */
.buttons {
    display: flex;
    gap: 10px;
}

/* Estilo do botão "Submit a request" */
.buttons .request {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

/* Estilo do botão "Sign in" */
.buttons .signin {
    background-color: #4C5FD5;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100px;
}

/* Hover no botão "Sign in" */
.buttons .signin:hover {
    background-color: white;
    color: #4C5FD5;
}

/* Hover no botão "Submit a request" */
.buttons .request:hover {
    background-color: transparent;
    color: white;
}

/* Estilo da seção principal com barra de busca */
.main-section {
    background-color: #dadbf1;
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

/* Estilo do título principal */
.main-section h1 {
    font-size: 55px;
    color: black;
    margin-bottom: 20px;
}

/* Estilo da barra de busca */
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    max-width: 600px;
    width: 100%;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    border: none;
    font-size: 16px;
    outline: none; /* Estilo do campo de texto da barra de busca */
}

/* Estilo do botão da barra de busca */
.search-bar button {
    padding: 0 15px;
    border: none;
    background-color: white;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

/* Seção de conteúdo com largura limitada e espaçamento */
.content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1194px;
    margin: 0 auto;
    padding: 20px 0;
    margin-top: 110px; 
}

 /* Estilo dos itens dentro da seção de conteúdo */
.content-item {
    display: flex;
    align-items: flex-start;
    width: calc(50% - 20px);
    margin-bottom: 80px;
}

.content-item img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
}

/* Estilo do título dentro de cada item de conteúdo */
.text-content h3 {
    font-size: 1.1em;
    margin: 0;
    margin-bottom: 9px; 
}

/* Estilo do parágrafo dentro de cada item de conteúdo */
.text-content p {
    font-size: 1.1em;
    color: #333;
    margin: 5px 0;
    line-height: 24px; 
}

/* Estilo dos links dentro de cada item de conteúdo */
.text-content a {
    font-size: 0.9em;
    color: #0066cc;
    text-decoration: none;
    margin-top: 5px; 
}

.text-content a:hover {
    text-decoration: underline;
}

/* Rodapé */
.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;

}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1650px;
    margin: 0 auto;
}

/* Estilo das colunas do rodapé */
.footer-column h4 {
    color: #fff;
    font-size: 1.0em;
    margin-bottom: 10px; 
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

.footer-column li {
    font-size: 12px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

/* Estilo dos links no rodapé */
.footer-column a:hover {
    text-decoration: underline; 
}

.footer-column h5 {
    margin-top: 23px;
}

/* Estilo do logo no rodapé */
.footer-logo {
    width: 18px;
    height: auto;
    margin-bottom: 10px; 
}

@media (max-width: 768px) {
    /* Ajuste da seção principal */
    .main-section h1 {
        font-size: 35px;
    }

    .search-bar {
        max-width: 100%;
    }

    /* Ajuste dos itens da seção de conteúdo */
    .content-section {
        flex-direction: column;
        align-items: center;
    }

    .content-item {
        width: 70%;
        margin-bottom: 60px;
        display: flex;
        align-items: center;
    }

    .content-item img {
        margin-right: 15px; /* Espaço entre imagem e texto */
        align-self: flex-start; /* Alinha a imagem no topo */
    }

    .content-item h3,
    .content-item p,
    .content-item a {
        text-align: left; /* Alinha o texto à esquerda */
    }

    .content-item h3 {
        margin: 0;
        font-weight: bold;
    }

    .content-item p,
    .content-item a {
        margin: 5px 0; /* Espaço entre os elementos */
    }
    
    .content-item a {
        display: inline-block;
        margin-top: 8px;
    }

    /* Ajuste do rodapé */
    .footer-content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
}
